<launch>
  <group ns="rtabmap">
    <node name="rtabmap" pkg="rtabmap_ros" type="rtabmap" output="screen" args="--delete_db_on_start">
          <param name="frame_id" type="string" value="base_link"/>
          <param name="odom_frame_id" type="string" value="odom"/>

          <param name="subscribe_depth" type="bool" value="true"/>

          <remap from="odom" to="/odom"/>

          <remap from="rgb/image" to="/head_camera/rgb/image_rect_color"/>
          <remap from="depth/image" to="/head_camera/depth_registered/image_raw"/>
          <remap from="rgb/camera_info" to="/head_camera/rgb/camera_info"/>

          <param name="queue_size" type="int" value="10"/>
          <param name="publish_tf" type="bool" value="true" />

          <!-- RTAB-Map's parameters -->
          <param name="RGBD/AngularUpdate" type="string" value="0.01"/>
          <param name="RGBD/LinearUpdate" type="string" value="0.01"/>
          <param name="Rtabmap/TimeThr" type="string" value="700"/>
          <param name="Mem/RehearsalSimilarity" type="string" value="0.45"/>
          <param name="RGBD/OptimizeFromGraphEnd" type="string" value="true"/>
    </node>
  </group>
</launch>
